body{
  font-family: PressStartKRegular;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}
*{
  margin: 0;
}
a{
  text-decoration: none;
}
.view-animate-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.view-animate {
  padding:0;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:84px;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}
.title{
  border-bottom: 3px solid #ee4443;
}
.title h1{
  margin: 10px;
  font-weight: normal;
}
.list{
  list-style: none;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #222;
}
.list .item, .showHeader{
  display: block;
  position: relative;
  min-height: 75px;
  color: #ccc;
}

.list .item img, .showHeader img{
  left: 0;
  top: 0;
  position: absolute;
  display: inline-block;
}
.list .item a{
  border-top: solid 1px #313131;
  border-bottom: solid 1px #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  color: #ccc;
}
.list .item a:visited{
  color: #ccc;
}
.list .item a:hover{
  background-color: #272727;
  color: #eee;
}
.list .item h4{
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  line-height: 75px;
  white-space: nowrap;
}
.show.list .item h4, .showHeader h4{
  margin-left: 80px;
  font-weight: normal;
}
.date{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  margin: .5em;
  color:#333;
}

.list .list{
  border-left: 3px solid #333;
}

.title{
  display: inline-block;
  width: 100%;
  color: white;
  height: 81px;
  font-weight: normal;
}
a:visited, a:hover{
  color: inherit;
}

.showHeader h4{
  display: inline-block;
  margin-bottom: 0;
  margin-top:5px;
  line-height: 16px;
}

.showHeader p{
  display: block;
  font-size: 12px;
  margin-left: 80px;
}

.showHeader{
  height: 75px;
}